<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>React App - Get Started with Create React App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <h1>Instagram Downloader</h1>
        <% if (locals.error) {%>
            <div class="alert alert-danger">
                <%=error%>
            </div>
        <%}%>
        <form method="post"  action="/download" method="POST">
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" name="url" class="form-control" placeholder="Enter URL" required />
            </div>
            <button type="submit" class="btn btn-primary">Download</button>
        </form>
  </body>
